* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  width: 300px;
  margin: 20px auto;
}
.hint {
  border: 4px dotted #000;
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
}
.lb {
  color: #f31559;
}
.th {
  color: #30a2ff;
}
.course {
  border: 3px solid #f31559;
  background-color: #fff5f5;

  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 5px;
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.course:hover {
  box-shadow: 2px 2px #f31559;
}
.theory {
  border: 3px solid #30a2ff;
  background-color: #effffd;
}
.theory:hover {
  box-shadow: 2px 2px #30a2ff;
}
a:link,
a:visited {
  text-decoration: none;
  color: #000;
}
img {
  margin-left: 8px;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #845ef7;

  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #f3f0ff;
  color: #4dabf7;
}
.task::after {
  content: "New";
  font-size: 12px;
  border-radius: 8px;
  padding: 5px;
  background-color: #f31559;
  color: #effffd;
  position: relative;
  left: 70px;
  bottom: 18px;
}
.task:hover {
  box-shadow: 2px 2px #845ef7;
}
.todo:link,
.todo:visited {
  color: #4dabf7;
}
.content {
  width: 300px;
  margin: 20px auto;
}
.subject {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #845ef7;
}
.sub_box {
  margin-bottom: 30px;
}
li {
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.deadline {
  color: #f31559;
}
.upload {
  border: 3px solid #845ef7;
  text-align: center;
  text-transform: capitalize;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  border-radius: 10px;
  padding: 5px;
}
.up {
  color: #38d9a9;
}
.down {
  color: #f31559;
}
.upload:hover {
  box-shadow: 5px 5px #38d9a9, -5px -5px #f31559;
}
